@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
.form{
    background-color: #dd1163;
    display: flex;
    justify-content: center;
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 200px;
    margin-bottom: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px ;
    padding-left: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);  
}

h2{
    font-family: "DM Sans", sans-serif;
    text-align: center;
}
.name{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    border: none;
    margin: 8px;
    font-size: 20px;
}
.last_name{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    border: none;
    margin: 8px;
    font-size: 20px;
}
.email{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    border: none;
    margin: 8px;
    font-size: 20px;
}
.phone_number{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    border: none;
    margin: 8px;
    font-size: 20px;
}
.password{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    border: none;
    margin: 8px;
    font-size: 20px;
}
.add{
    font-size: 16px;
    padding: 12px 28px;
    border-radius: 8px;
    border: none;
    font-family: "DM Sans", sans-serif;
    cursor: pointer;
    margin: 8px;
}
.add{
    transition-duration: 0.4s;
  }
  
.add:hover {
    background-color: #bc175f; 
    color: white;
  }
.add {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
